include ./helpers/layout-default.jade

include ./helpers/layout-default.jade


block head
	//add any stylesheets and stuff here
	//+addStyle("/url/to/css")

block body
	h1 Menu

block footer
	+addScript("/js/app/menu.js")